In [23]:
pip install pyodbc mysql-connector-python pandas

Requirement already satisfied: pyodbc in c:\users\manisha\documents\scd_types\venv\lib\site-packages (5.2.0)
Requirement already satisfied: mysql-connector-python in c:\users\manisha\documents\scd_types\venv\lib\site-packages (9.3.0)
Requirement already satisfied: pandas in c:\users\manisha\documents\scd_types\venv\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

# STEP 1: Extract from SQL Server (SSMS)

In [24]:
import pandas as pd
import pyodbc

# SQL Server connection
ssms_conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-FIQ4FDL\SQLEXPRESS03;"
    "DATABASE=sqlpythondb;"
    "UID=sa;"
    "PWD=manisha123;"
)

cursor=ssms_conn.cursor()

In [25]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\manisha\documents\scd_types\venv\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manisha\documents\scd_types\venv\lib\site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
orders=pd.read_csv(r"C:\Users\Manisha\Downloads\order_data 1.csv")
orders.head(3)

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing

In [27]:
import pandas as pd
from sqlalchemy import create_engine

# Step 2: Create SQL Server connection string using SQLAlchemy
server = 'DESKTOP-FIQ4FDL\SQLEXPRESS03'               # e.g., localhost\SQLEXPRESS
database = 'sqlpythondb'
username = 'sa'
password = 'manisha123'

connection_string = (
    f"mssql+pyodbc://{username}:{password}@{server}/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)
engine = create_engine(connection_string)

# Step 3: Insert data into SQL Server (auto-create table)
orders.to_sql("orders", con=engine, if_exists='replace', index=False)

print(" Data inserted into SQL Server. Table 'orders' created or replaced.")

 Data inserted into SQL Server. Table 'orders' created or replaced.

etl.log and log analysis

In [28]:
# Extract BEFORE closing the connection
query = "SELECT * FROM orders"
orders_df = pd.read_sql(query, ssms_conn)

#  Close AFTER data is loaded
#ssms_conn.close()

print("Extracted data from SQL Server")
orders_df.head()

Extracted data from SQL Server

C:\Users\Manisha\AppData\Local\Temp\ipykernel_27872\2356208774.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders_df = pd.read_sql(query, ssms_conn)

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden

#  Step 2: 1.Load Data into MySQL (Target DB)

In [29]:
from sqlalchemy import create_engine

# Connection string (MySQL)
mysql_user = "your_mysql_user"
mysql_password = "your_mysql_password"
mysql_host = "localhost"  # or your IP / domain
mysql_db = "your_mysql_database"  # You DO need to create the DB (once only)

# Create engine (auto handles connection)
engine = create_engine(f"mysql+pymysql://{mysql_user}:{mysql_password}@{mysql_host}/{mysql_db}")

# Write to MySQL: create table automatically
orders.to_sql(name="orders", con=engine, if_exists="replace", index=False)

print("Data loaded to MySQL and table 'orders' created automatically.")

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [30]:
import mysql.connector

# Connect to MySQL server (no database yet)
conn = mysql.connector.connect(
    host="localhost",          # or your host/IP
    user="root",
    password="manisha123"
)

cursor = conn.cursor()

# Create new database

cursor.execute("DROP DATABASE manisha")

cursor.execute("CREATE DATABASE IF NOT EXISTS mysqlpythondb")

print(" MySQL database created (or already exists)")

# Optional: show all databases
cursor.execute("SHOW DATABASES")
for db in cursor.fetchall():
    print(db[0])

cursor.close()
conn.close()

DatabaseError: 1008 (HY000): Can't drop database 'manisha'; database doesn't exist

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine

# Corrected connection string using pymysql
engine = create_engine(
    "mysql+pymysql://root:manisha123@localhost/mysqlpythondb"
)

In [31]:
# Auto-create the table and insert data
orders.to_sql(name='orders', con=engine, if_exists='replace', index=False)

print(" Data loaded into MySQL and table 'orders' created.")

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [ ]:
orders.columns

Index(['order_id', 'customer_id', 'order_date', 'order_amount', 'order_status',
       'product_category'],
      dtype='object')

In [ ]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='manisha123',
    database='mysqlpythondb'
)
cursor = conn.cursor()

# Check top 5 orders by amount
cursor.execute("""
    SELECT *
    FROM orders
    
    LIMIT 5
""")

print(" Top 5 Orders by Amount:")
for row in cursor.fetchall():
    print(row)

🔝 Top 5 Orders by Amount:
('892a07a4-d252-4775-85e0-73077143e1c6', 966, '2024-11-27', 317.64, 'Cancelled', 'Home & Garden')
('ae160758-e187-47b2-9350-032f88f55491', 345, '2023-03-27', 645.87, 'Completed', 'Home & Garden')
('7c50456e-6123-45cc-aa19-128bef3754d6', 503, '2024-03-31', 880.86, 'Pending', 'Clothing')
('c788b56b-3716-4cd9-a827-d4dc401ba00c', 385, '2023-08-09', 876.83, 'Cancelled', 'Home & Garden')
('925ab5b1-adb1-4302-a70b-1c2db724e02b', 817, '2023-04-19', 264.53, 'Pending', 'Home & Garden')

# 2️ Top 10 Orders by Amount (Sorting)

In [ ]:
query = """
SELECT order_id, customer_id, order_date, order_amount
FROM orders
ORDER BY order_amount DESC
LIMIT 10;
"""

df_top_orders = pd.read_sql(query, conn)
df_top_orders

C:\Users\Manisha\AppData\Local\Temp\ipykernel_9252\4001564242.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_orders = pd.read_sql(query, conn)

                               order_id  customer_id  order_date  order_amount
0  a82e63f0-4850-416a-8893-ff48b4752d5f          609  2023-10-12        999.99
1  aa6564aa-410a-47e0-96dd-547f927d6236          162  2024-09-14        999.80
2  c0372ac4-11ec-4bdb-acc8-761dcf247f33          968  2024-01-17        999.71
3  88bc989a-8ade-4131-961f-df012d1668e8          593  2023-02-25        999.36
4  e23958ba-304a-4ed3-a2cf-438353e74fe5          120  2023-08-23        999.15
5  194ee007-bebe-48b0-a1a5-9cdd56af2946          348  2024-10-12        999.05
6  3e82d4ab-2c54-4a25-9317-ece5f4c90883          687  2024-05-25        997.98
7  7bc3d54b-7d2a-493d-ab09-c9ea58763b2a          695  2024-03-17        997.58
8  580a05f2-b270-4d34-b45b-907a63346055          927  2023-01-07        996.85
9  d44f375b-b3ef-42cf-937a-942b213b2853          547  2023-03-24        996.14

# 3️ Total Sales per Customer (Aggregation)

In [ ]:
query = """
SELECT customer_id, SUM(order_amount) AS total_sales
FROM orders
GROUP BY customer_id
ORDER BY total_sales DESC;
"""

df_customer_sales = pd.read_sql(query, conn)
df_customer_sales

C:\Users\Manisha\AppData\Local\Temp\ipykernel_9252\120007297.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer_sales = pd.read_sql(query, conn)

     customer_id  total_sales
0            103      5524.43
1            499      5441.92
2            942      4167.91
3            795      4082.43
4            823      4053.11
..           ...          ...
863          962        25.71
864          602        21.78
865          390        18.95
866          472        14.51
867          910        11.19

[868 rows x 2 columns]

# 4️ Monthly Sales Trend (Time-Based Aggregation)

In [ ]:
query = """
SELECT 
    DATE_FORMAT(order_date, '%Y-%m') AS order_month,
    SUM(order_amount) AS monthly_sales
FROM orders
GROUP BY order_month
ORDER BY order_month;
"""

df_monthly_sales = pd.read_sql(query, conn)
df_monthly_sales

C:\Users\Manisha\AppData\Local\Temp\ipykernel_9252\3310056620.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_monthly_sales = pd.read_sql(query, conn)

   order_month  monthly_sales
0      2023-01       43981.38
1      2023-02       32456.55
2      2023-03       48748.35
3      2023-04       46154.52
4      2023-05       32041.49
5      2023-06       49212.36
6      2023-07       44870.66
7      2023-08       39720.82
8      2023-09       39114.47
9      2023-10       55146.44
10     2023-11       41935.09
11     2023-12       51749.62
12     2024-01       36852.91
13     2024-02       45487.42
14     2024-03       45739.52
15     2024-04       35674.64
16     2024-05       39472.74
17     2024-06       44134.25
18     2024-07       35734.89
19     2024-08       60082.26
20     2024-09       40066.91
21     2024-10       46202.21
22     2024-11       36031.12
23     2024-12       36770.22

from config.db_connection import get_connection

# Aggregating sales data by customer from a MySQL database for performance tracking.

In [ ]:
customer=pd.read_csv(r"C:\Users\Manisha\Downloads\replaced_customer.csv")
customer.head(2)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,(619) 723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,(537) 674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver

In [ ]:
from sqlalchemy import create_engine

# Corrected connection string using pymysql
engine = create_engine(
    "mysql+pymysql://root:manisha123@localhost/mysqlpythondb"
)

# Auto-create the table and insert data
customer.to_sql(name='customer', con=engine, if_exists='replace', index=False)

print(" Data loaded into MySQL and table 'customer' created.")

NameError: name 'customer' is not defined

#  Step 2: Aggregate Sales by Customer

In [ ]:
query = """
SELECT 
    customer_id,
    COUNT(order_id) AS number_of_orders,
    SUM(order_amount) AS total_sales,
    AVG(order_amount) AS avg_order_value
FROM orders
GROUP BY customer_id
ORDER BY total_sales DESC;
"""

df_customer_perf = pd.read_sql(query, conn)
df_customer_perf

C:\Users\Manisha\AppData\Local\Temp\ipykernel_27452\4193921263.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer_perf = pd.read_sql(query, conn)

     customer_id  number_of_orders  total_sales  avg_order_value
0            103                 8      5524.43       690.553750
1            499                 8      5441.92       680.240000
2            942                 6      4167.91       694.651667
3            795                 6      4082.43       680.405000
4            823                 6      4053.11       675.518333
..           ...               ...          ...              ...
863          962                 1        25.71        25.710000
864          602                 1        21.78        21.780000
865          390                 1        18.95        18.950000
866          472                 1        14.51        14.510000
867          910                 1        11.19        11.190000

[868 rows x 4 columns]

#  Step 3: Mapping Customers (Optional Join with Customer Table)

In [ ]:
query = """
SELECT 
    c.customer_id,
    c.name,
    c.address,
    COUNT(o.order_id) AS number_of_orders,
    SUM(o.order_amount) AS total_sales,
    AVG(o.order_amount) AS avg_order_value
FROM orders o
JOIN customer c ON o.customer_id = c.customer_id
GROUP BY c.customer_id, c.name, c.address
ORDER BY total_sales DESC;
"""

df_customer_mapped = pd.read_sql(query, conn)
df_customer_mapped

C:\Users\Manisha\AppData\Local\Temp\ipykernel_27452\147417917.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer_mapped = pd.read_sql(query, conn)

,customer_id,name,address,number_of_orders,total_sales,avg_order_value
0,8,Melissa Galloway MD,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",5,2207.35,441.470
1,9,Matthew Harvey,"60123 Davis Ford, Mistychester, WA 69400",2,1534.57,767.285
2,2,Brad Newton,"38783 Oliver Street, West Kristenborough, MT 9...",2,1267.75,633.875
3,5,Matthew Phillips,"2274 Williams Heights Suite 895, Andersonhaven...",2,1223.23,611.615
4,7,Louis Miller,"02590 Marshall Well, Sheppardland, CT 88067",2,1165.48,582.740
5,6,Darrell Gallagher DVM,"19887 Brandon Bridge, New Rebecca, MA 94947",2,496.81,248.405
6,3,Larry Torres,"6845 Steele Turnpike, West Erikabury, UT 37487",1,454.07,454.070
7,4,Kimberly Price,"1631 Alexis Meadows, Lake Amanda, CA 75179",2,376.10,188.050
8,10,Rachel White,"6182 Brown Mountain, South Gary, IL 29016",1,107.56,107.560